<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Suppress browser request for favicon.ico -->
    <link rel="shortcut icon"type="image/x-icon" href="data:image/x-icon;,">
    <title>Horseshow Pro, Horse Show Manager{% block title %} - Home{% endblock %}</title>
    <!-- Bootstrap -->
    <link href="/media/2.0/bootstrap/css/bootstrap.min.css" rel="stylesheet"></link>
    <!-- Mine -->
    <link href="/media/2.0/stylesheets/style.css" rel="stylesheet"></link>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/media/2.0/javascripts/jquery-3.1.1.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/media/2.0/bootstrap/js/bootstrap.min.js"></script>
    <!-- Include menu/actions -->
    <script src="/media/2.0/javascripts/util.js"></script>
  </head>
  <body>
    <!-- NAV Bar -->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><img src="/media/2.0/images/headerlogo.png"/></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Actions... <span class="caret"></span></a>
              <ul class="dropdown-menu">
                {% if show %}
                <li><a href="{% url 'list-classes' show.id %}">List Classes</a></li>
                <li><a href="#" data-toggle="modal" data-target="#classModal">Print Normal/Split Class by ID</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#" data-toggle="modal" data-target="#riderWelcomeModal">Generate Rider Welcome Sheet</a></li>
                <li role="separator" class="divider"></li>
                {% if user.username %}
                <li><a href="#" data-toggle="modal" data-target="#csvUploadModal">Import CSV Entries</a></li>
                <li><a href="/admin/horse_show/entry/">Edit Show Entries</a></li>
                {% endif %}
                <li><a href="#" data-toggle="modal" data-target="#showModal">Switch Shows</a></li>
                {% else %}
                <li><a href="#" data-toggle="modal" data-target="#showModal">Select Show</a></li>
                {% endif %}
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if user.username %}
            <li><a href="/admin/logout/?next={{ request.path }}"><span class="glyphicon glyphicon-user"></span> Logout: {{ user.username }}</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin Actions <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#" data-toggle="modal" data-target="#csvUploadModal">Import CSV Entries</a></li>
                <li><a href="/admin/horse_show/entry/">Edit Show Entries</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/admin/">Show Administrator</a></li>
              </ul>
            </li>
            {% else %}
              <!-- LOGIN LINK ONLY -->
              <li><a href="/admin/login/?next={{ request.path }}">Login <span class="glyphicon glyphicon-user"></span></a></li>
            {% endif %}
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav><!-- /Nav Bar -->

    <div id="wrap">
      <div class="rbcontent">
      {% block content %}
  		&nbsp;
  		{% endblock %}
      </div>
    </div>

    <!-- Modal Show Selector -->
    <div class="modal fade" tabindex="-1" role="dialog"  id="showModal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Select a show to view</h4>
          </div>
          <div class="modal-body" id="showModalBody">
            <div class="item-selector" id="showModalSample">
              <div class="itemsel-split itemsel-info"><i class="glyphicon glyphicon-folder-open glyphicon-align-left"></i></div>
              <div class="itemsel-text" id="showModalSampleLink"><a href="#">Finding Shows... Please Wait.</a></div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <script>
    jQuery(document).ready(function($) {
      $('#showModal').on('shown.bs.modal', function() {
        render_show_list($('#showModalBody'));
      })
    });
    </script>
    <!-- /Modal show selector -->


    <div class="navbar navbar-fixed-bottom text-right">
      <div class="copyrights footer container-fluid">
        <p>James Mutton © 2017, All Rights Reserved
          <a href="https://www.linkedin.com/in/jamesmutton/" target="_blank">Linkedin <i class="fa fa-linkedin-square" aria-hidden="true"></i> </a>
          <br>
          <span>Horseshow Pro is Licensed under the MIT license. Included resources licensed under their respective license.</span>
        </p>
      </div>
    </div>
  </body>
</html>
