<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
	<meta name="author" content="James Mutton">
    <title>{% block title %}Printing Class Documents{% endblock %}</title>
	<STYLE TYPE="text/css">
     P.breakhere {page-break-before: always}
	</STYLE>
</head>

<body style="font-family:Verdana,Arial,serif;">
<div>
	<p><a href="javascript:history.go(-1);">back</a></p>
{% if ring %}
	<!-- Build both the judging and gate sheets -->

	<!-- Ring Sheet -->
	<p>Judging - Class: {{ cls.Name }}</p>
	<table border="1" cellpadding="2" cellspacing="0" width="100%">
		<tr><td>Number</td><td>Placing</td><td>Danish</td><td>Comments</td></tr>
    {% for row in ring %}
		<tr>
			<td>{{ row.0 }}</td>
			<td>&nbsp;&nbsp;&nbsp;</td>
			<td>&nbsp;&nbsp;&nbsp;</td>
			<td width="100%">&nbsp;</td>
		</tr>
    {% endfor %}
	</table>

	<!-- In Gate Sheet -->
	<p class="breakhere">In Gate - Class: {{ cls.Name }}</p>
	<table border="1" cellpadding="2" cellspacing="0" width="100%">
		<tr><td>Number</td><td>Checkin</td><td>Seat</td></tr>
	{% for row in ring %}
		<tr>
			<td>{{ row.0 }}</td>
			<td>&nbsp;&nbsp;&nbsp;</td>
			<td width="100%">&nbsp;&nbsp;&nbsp;</td>
		</tr>
	{% endfor %}
	</table>

	<!-- Announcer Sheet -->
	<p class="breakhere">Announcer - Class: {{ cls.Name }}</p>
	<table border="1" cellpadding="2" cellspacing="0" width="100%">
		<tr><td>Number</td><td>Riders Name</td><td>Horses Name</td><td>Club</td></tr>
	{% for row in announcer %}
		<tr>
			<td>{{ row.0 }}</td>
			<td>{{ row.1 }} {{ row.2 }}</td>
			<td>{{ row.3 }}</td>
			<td>{{ row.4 }}</td>
		</tr>
	{% endfor %}
	</table>
{% else %}
	<p>There are no entrants for this Class.</p>
{% endif %}

</div>
</body>
</html>